blinker
cachelib
click
# colorama # Removível se não for essencial para logs de produção, mas é pequena
Flask
Flask-Caching # Avaliar se o cache é essencial para a v1 online
Flask-SQLAlchemy
Flask-WTF
# future # Menos essencial se o projeto é puramente Python 3 e as dependências não exigem
greenlet
itsdangerous
Jinja2
MarkupSafe
Pillow
# protobuf # Verificar se alguma dependência mantida realmente precisa dela
python-dateutil
pytz
# pyzbar # Remover se a leitura de QR Code não for feita no servidor
qrcode
# six # Menos essencial se o projeto é puramente Python 3 e as dependências não exigem
SQLAlchemy
typing_extensions # Muitas vezes uma dependência de outras, pode ser puxada automaticamente
tzdata
Werkzeug
WTForms
flask-migrate
flask_login
python-dotenv
gunicorn # Adicionar se ainda não estiver, para o servidor de produção
# Adicionar o driver do banco de dados que você usará no PythonAnywhere, por exemplo:
# mysqlclient  # Se for usar MySQL
# psycopg2-binary # Se for usar PostgreSQL
